@import "tailwindcss";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

@custom-variant dark (&:is(.dark *));

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-black: hsl(220, 7%, 9%);
  --color-smoke: hsl(231.43, 10.45%, 86.86%);
  --color-raisin: hsl(260, 4.23%, 13.92%);
  --color-solitude: hsl(220, 14.29%, 95.88%);
  --color-gray: hsl(224, 7%, 41%);
  --color-outline: hsl(0, 0%, 91%);
}

.dark {
  --color-background: hsl(220, 7%, 9%);
  --color-gray: hsl(0 0% 49.4%);
  --color-outline: hsl(225, 8%, 20%);
}

@theme inline {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-background: var(--color-background);
  --color-black: var(--color-black);
  --color-smoke: var(--color-smoke);
  --color-raisin: var(--color-raisin);
  --color-solitude: var(--color-solitude);
  --color-gray: var(--color-gray);
  --color-outline: var(--color-outline);
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
